@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Oswald:wght@300&display=swap");
html,
body {
    margin: 0px;
    height: 100%;
    font-family: 'Oswald', sans-serif;
}
*{
  box-sizing: border-box;
}

h1{
  font-family: 'Bangers', cursive;
  font-size: 3rem;
}

p{
  font-size: 1.5rem;
}

button{
  border:0;
}
button:hover{
  cursor: pointer;
}
.color-black{
  color:black;
}

.center{
  text-align: center;
}
.bottom-line::after {
    content: "";
    display: block;
    width: 48px;
    border-bottom: 3px solid #e8e8e8;
    margin: 15px auto 15px;
}
.col-1, .col-2, .col-3, .col-4, .col-6, .col-1l6{
  float: left;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-1{
  width: 100%;
}
.col-2{
  width: 50%;
}
.col-3{
  width: 33.333333%;
}
.col-4{
  width: 25%;
}
.col-6{
  width: 16.66666%;
}
.col-1l6{
  width: 83.333333%;
}
@media (max-width: 640px) {
  .col-2, .col-3, .col-4, .col-6, .col-1l6{
    width: 100%;
  }
}
.btn{
  padding: 8px 17px;
  background-color: rgb(26, 27, 31);
  transition-property: background-color, opacity, color;
  transition-duration: 400ms, 400ms, 400ms;
  transition-timing-function: ease, ease, ease;
  color: white;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 10px;
}
.btn-xxl{
  padding: 16px 35px;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2px;
}
.right{
  float: right;
}
.center{
text-align: center;
}
